.product .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product .swiper-button-prev,
.product .swiper-button-next {
  display: flex;
  color: currentColor;
}

.product .swiper-button-prev::after,
.product .swiper-button-next::after {
  font-size: 24px;
}

.product__swiper-with-nav {
  position: relative;
}

.product__images-swiper {
  margin: 0 50px;
}
